/* BASE RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Palanquin', sans-serif;
}



/* LAYOUT RULES */
.layout-background-image {
    position: absolute;
    z-index:1;
    height: 100vh;
    width: 100vw;
}

.layout-logo {
    position: absolute;
    z-index:2;


}

.layout-nav {


}





/* MODULE RULES */






/* STATE RULES */





/* THEME RULES */




